body {

	font-family: "Noto Sans";
	font-weight: 200;
	scroll-behavior: smooth;
	/*position: relative;*/
}

h2,h4 {
	font-weight: 200 !important;
	position: relative;
	z-index: 00;
}

h2::before{

	content: " ";
    display: inline-block;
    width: 26px;
    height: 40px;
    /*margin-right: 10px;*/
    color: transparent;
    background: #b41919; /*#ff1f1fbd*/
    position: relative;
    left: 0px;
    top: 8px;
    margin-right: 10px;
    z-index: 5;
}
section {
	min-height: 100vh;
	
	padding-top: 5em;
	padding-bottom: 5em;
	overflow: hidden;
	/*min-height: 100%;*/
	/*position: relative;*/
}

#about {
	padding-top: 0em;
	padding-bottom: 0em;
}

#about  .top-heading {

	font-size: 1.5em;
}
#about .content__left {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	background-color: #b10e1e;
	padding: 1.5em;
	color: white;
	font-size: 1.10em;

}

 #about .overlay {
	position: relative;
	filter: grayscale(1);height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
}

/*
.overlay::before {

	background-image: url(../img/bg-section-1.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	height: 100vh;
	position: relative;
}
*/
.page-content {
	/*padding-top: 0em;*/
	z-index: 999;
	/*position: relative;*/
	/*margin-bottom: 100rem;*/
	background:white;
	/*min-height: 100%;*/

}
.hero {

	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh; 
	width: 100%;
	bottom: 0;
	/*z-index: 0;*/
}
.hero__overlay {
	background-color: #030032;
	height: 100vh;
	width: 100%;
	position: absolute;
	opacity: 0.64;
}

#hero-headings h2 {

	font-size: 2.5em !important;
}

#hero-headings h2:before {

	display: none;
}

#hero-headings .slick-slide:nth-of-type(1),{

	color: #07aa59 !important;
}

#hero-headings .slick-slide:nth-of-type(2),{

	color: #0191ff !important;
}
#hero-headings .slick-slide:nth-of-type(3),{

	color: #ff0f0f !important;
}
#hero-headings .slick-slide:nth-of-type(4),{

	color: #ffff  !important;
}

.navbar-shrink
{
	border-bottom:1px solid rgba(33,37,41,.1);
	background-color:#fff
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529 !important;
}
.nav-link {

	color: #ffffff !important;
	font-size: 1.15em !important;
}
.nav-item {

	margin:10px;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {

	color: #dc3545!important;
}


.service-box ul {

	/*list-style: none;*/
}

.service-box ul li{

	padding-top: 5px;
	padding-bottom: 5px;
}

/* .service-box:nth-child(1) h4 {

	color: #00B65B;
}*/


/*Activity section*/
.activities {

 	padding-top: 2rem;
 	padding-bottom: 2rem;
 	align-items: center;
}

.activities ul {

	list-style: none;
}

.activities .service-box:nth-child(2) h4 {

	color: red;
}
.activity_headind__wrap {

	min-height: 300px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	text-transform: capitalize;
}



.team-profile {

	width: 200px;
	height: 220px;
	position: relative;
	z-index: 1
}

.team-content-wrapper {

    background: #E7E4E4;
    position: relative;
    top: -80px;
    z-index: 0;
    height: 300px;
    width: 280px;
    margin: auto;
}

.team-content {
	position: relative;
	top: 100px;
}

.team-content h5 {

	position: relative;
	top: 40px;
}

.team-content button {

	position: relative;
	top: 40px;
}

.team-content h6 {

	position: relative;
	top: 40px;
}

.team-content p{

	position: relative;
	top: 60px;
}

.social-link {

	margin-top: 10px;
	margin-right: 10px;
}

#contact a {

	color:#ffffff;
	font-size: 1.5em;
}

@media screen  and (min-width: 300px) and (max-width: 545px) 
{
	.slick-slider {

		width: 320px !important;
	}

	#hero-headings h2 {

		font-size: 2em !important;
	}
	.slick-list {

		width: 305px;
	}
	#about .content__left {
		width: 100%;
	}
}

@media screen  and (min-width:545px) and (max-width: 768px) 
{
	
	#about .content__left {
		width: 100%;
		padding: 1.1em;
		font-size: 1em;
	}
}

@media screen  and (min-width:1024px)
{
	
	#about .content__left {
		width: 60%;
	}
}


